@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #f3e8ff; /* Light purple track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a855f7; /* Purple scrollbar */
    border-radius: 20px; /* Makes it fully rounded at both ends */
    border: 2px solid #f3e8ff; /* Adds spacing to the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #9333ea; /* Darker purple on hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #a855f7 #f3e8ff;
}
